.NavigationBar{
    display: flex;
    height: 4vh;
    padding: 3px 8vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) ;
}

#textLogo{
    margin: auto 0;
    height: 1.5em;
}
.NavigationUI{
    margin-left: auto;
    margin-top: 0.4em;
    display: flex;
    width: 5em;
    justify-content:space-between;
}
a{
    height: 2vh;
    display: flex;
}
#home{
    max-height: 2vh;
}
#post {
    max-height: 2vh;
}
#smallUserProfile {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    height: 0.75em;
    width: 0.75em;
}